<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ChakraPetch-Regular.ttf</string>
		<string>ChakraPetch-Medium.ttf</string>
		<string>ChakraPetch-SemiBold.ttf</string>
		<string>ChakraPetch-Bold.ttf</string>
		<string>Sora-Light.ttf</string>
		<string>Sora-Regular.ttf</string>
		<string>Sora-Medium.ttf</string>
		<string>Sora-SemiBold.ttf</string>
		<string>Sora-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
	</array>
</dict>
</plist>
